# Prevent Data to be uploaded
./data/*
./data/data_preprocessing/output/*
**/vscode/*
**/__pycache__/*
data_preprocessing/video_to_frames/output_data/**/
data_preprocessing/video_to_frames/input_data/**/
.vscode/settings.json
.vscode/launch.json
data_preprocessing/sort_annotated_images/input_data/**/
data_preprocessing/sort_annotated_images/output_data/**/
pytorch/docker_volume/stats

data/seges_dataset_small/images/**/
!data/seges_dataset_small/images/.gitkeep

*.pth
*.jpg
./work_dir/*
**/.ipynb_checkpoints



configs/mmcls/**/
configs/mmdet/**/

!configs/mmcls/.gitkeep
!configs/mmdet/.gitkeep
