[pre_process]
input_data_path = ./inference_data
video_time_interval = 600
mask_path = ./data/seges_dataset_small/masks/cam005_mask.jpg

[detection]
det_dir = ./data/seges_dataset_small/dataset/det_ym_c236789
det_conf = 0.5

[classification]
cls_dir = ./data/seges_dataset_small/dataset/cls_nm_c236789

[visualise]
enable = yes
bounding_boxes = yes
position_in_pen = yes
poses_per_day = yes

[pen_info]
width = 200
length = 593

[analysis]
work_dir = 2021_2509_204442
cam = cam005
