[pre_process]
input_data_path = /home/mlynge/Development/data/cam003-1021_1231
video_time_interval = 600
mask_path = data/seges_dataset_small/masks/cam003_mask.jpg

[detection]
det_dir = /home/mlynge/Development/pig_vision/data/seges_dataset_small/dataset/det_ym_c236789
det_conf = 0.5

[classification]
cls_dir = /home/mlynge/Development/pig_vision/data/seges_dataset_small/dataset/cls_nm_c236789

[visualise]
enable = no
bounding_boxes = no
position_in_pen = no
day_visualise = no

[pen_info]
width = 200
length = 593

[analysis]
work_dir = 2021_1705_1711
cam = cam003